@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
html {
    font-family: 'Noto Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300..900;1,300..900&display=swap');
}

/* src/app.css */

@layer base {
  /* iOS en modo claro */
  html.ios:not(.dark) select {
    @apply bg-white text-gray-900 border border-gray-300;
  }

  /* iOS en modo oscuro */
  html.ios.dark select {
    @apply bg-gray-800 text-white border border-gray-700;
  }

  /* Asegurar que no sea transparente */
  html.ios select {
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -webkit-appearance: menulist;
    appearance: menulist;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem; /* opcional, para que coincida con Tailwind */
  }
}